<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.eaglesakura.andriders">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Logger -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- System Layer -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Android 5.x ForegroundApp -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>

    <!-- Vibrate -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- GPS Support(Wi-Fi KILL) -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
            android:name="com.eaglesakura.andriders.AceApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/Env.AppName"
            android:theme="@style/App.Theme">

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="${google_api_key}"/>

        <activity
                android:name="com.eaglesakura.andriders.ui.navigation.AppBootActivity"
                android:label="@string/Env.LauncherName"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.eaglesakura.andriders.ui.navigation.UserSessionActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.eaglesakura.andriders.ui.navigation.PluginSettingActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/Title.Plugin"/>
        <activity android:name="com.eaglesakura.andriders.ui.navigation.InformationActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/Title.About"/>
        <activity android:name="com.eaglesakura.andriders.ui.navigation.CommandSettingActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/Title.Command"/>
        <activity android:name="com.eaglesakura.andriders.ui.navigation.SensorDeviceSettingActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/Title.Gadget"/>
        <activity android:name="com.eaglesakura.andriders.ui.navigation.ProfileSettingActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/Title.Profile"/>
        <activity
                android:name="com.eaglesakura.andriders.ui.navigation.DisplayLayoutSettingActivity"
                android:screenOrientation="portrait"
                android:label="@string/Title.Display"/>
        <activity android:name="com.eaglesakura.andriders.ui.navigation.TotalLogActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/Title.Log"/>
        <activity android:name="com.eaglesakura.andriders.ui.navigation.LogDetailActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/Title.Log">
        </activity>
        <service android:name="com.eaglesakura.andriders.service.CentralSessionService">
        </service>


        <!-- 指定のLauncherを起動する -->
        <activity android:name="com.eaglesakura.andriders.trigger.LauncherSelectActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/Title.ChooseApp">
            <intent-filter>
                <!-- acecommand://で起動する -->
                <data android:scheme="acecommand"/>
                <action android:name="android.intent.action.VIEW"/>
                <!-- デフォルト指定 -->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 組み込み拡張機能 "デフォルト表示" -->
        <service
                android:name="com.eaglesakura.andriders.plugin.service.CentralInterfacePluginService"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/Title.Plugin.Basic"
                android:process=":ace">
            <intent-filter>
                <action android:name="org.andriders.ace.ACTION_ACE_EXTENSION_BIND"/>
            </intent-filter>
        </service>
        <service
                android:name="com.eaglesakura.andriders.plugin.service.GpsLocationPluginService"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/Title.Plugin.Location"
                android:process=":ace">
            <intent-filter>
                <action android:name="org.andriders.ace.ACTION_ACE_EXTENSION_BIND"/>
            </intent-filter>
        </service>
        <service android:name="com.eaglesakura.andriders.plugin.service.BleHeartratePluginService"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/Title.Plugin.BleHeartrate"
                 android:process=":ace">
            <intent-filter>
                <action android:name="org.andriders.ace.ACTION_ACE_EXTENSION_BIND"/>
            </intent-filter>
        </service>
        <service
                android:name="com.eaglesakura.andriders.plugin.service.BleSpeedAndCadencePluginService"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/Title.Plugin.BleSpeedAndCadence"
                android:process=":ace">
            <intent-filter>
                <action android:name="org.andriders.ace.ACTION_ACE_EXTENSION_BIND"/>
            </intent-filter>
        </service>
        <service android:name="com.eaglesakura.andriders.service.FitnessCommitService"
                 android:process=":fit"
                 android:label="@string/Title.Fit.Service"/>
    </application>

</manifest>
