<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.eaglesakura.andriders">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Logger -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- System Layer -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Android 5.x ForegroundApp -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>

    <application
            android:name="com.eaglesakura.andriders.AceApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/Env.AppName"
            android:theme="@style/App.Theme">

        <activity
                android:name="com.eaglesakura.andriders.ui.navigation.MainContentActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- GPX Import -->
        <!--<activity-->
                <!--android:name="com.eaglesakura.andriders.ui.gpx.GpxImportTourActivity"-->
                <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
                android:name="com.eaglesakura.andriders.ui.auth.AcesAuthActivity"
                android:screenOrientation="portrait"
                android:theme="@style/EsMaterial.Transparent"/>

        <!-- Permission更新用Activity -->
        <activity
                android:name="com.eaglesakura.andriders.ui.auth.PermissionRequestActivity"
                android:screenOrientation="portrait"
                android:theme="@style/EsMaterial.Transparent"/>

        <!-- ACE Service -->
        <service
                android:name="com.eaglesakura.andriders.service.central.CentralService"
                android:process=":ace">
        </service>

        <!-- 組み込み拡張機能 "デフォルト表示" -->
        <service
                android:name="com.eaglesakura.andriders.basicui.BasicExtensionService"
                android:icon="@drawable/ic_launcher"
                android:label="@string/Extension.Inner.Default.Name"
                android:process=":ace_ext">
            <intent-filter>
                <action android:name="com.eaglesakura.andriders.ACTION_ACE_EXTENSION_BIND_V3"/>
            </intent-filter>
        </service>
        <!-- 組み込み拡張機能 "GPS連携" -->
        <service
                android:name="com.eaglesakura.andriders.location.LocationExtensionService"
                android:icon="@android:drawable/ic_menu_save"
                android:label="@string/Extension.Inner.Location.Name"
                android:process=":ace_ext">
            <intent-filter>
                <action android:name="com.eaglesakura.andriders.ACTION_ACE_EXTENSION_BIND_V3"/>
            </intent-filter>
        </service>
        <!-- 組み込み拡張機能 "BLE心拍" -->
        <service
                android:name="com.eaglesakura.andriders.ble.service.BleHeartrateExtensionService"
                android:icon="@drawable/ic_heart"
                android:label="@string/Extension.Inner.BleSensor.Name"
                android:process=":ble">
            <intent-filter>
                <action android:name="com.eaglesakura.andriders.ACTION_ACE_EXTENSION_BIND_V3"/>
            </intent-filter>
        </service>
        <!-- 組み込み拡張機能 "BLE S&C" -->
        <service
                android:name="com.eaglesakura.andriders.ble.service.BleSpeedCadenceExtensionService"
                android:icon="@drawable/ic_speed"
                android:label="@string/Extension.Inner.BleSensor.Name"
                android:process=":ble">
            <intent-filter>
                <action android:name="com.eaglesakura.andriders.ACTION_ACE_EXTENSION_BIND_V3"/>
            </intent-filter>
        </service>
    </application>

</manifest>
