<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.eaglesakura.andriders">

    <application>
        <!-- デバッグ画面 -->
        <activity
                android:name="com.eaglesakura.android.debug.DebugMenuActivity"
                android:screenOrientation="portrait"/>
    </application>
</manifest>
